Source: libdtgparentpom-java
Section: java
Priority: optional
Maintainer: Daniel Thomas <drt24-debian@srcf.ucam.org>
Uploaders: Daniel Thomas <drt24-debian@srcf.ucam.org>
Build-Depends: debhelper (>= 7), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Standards-Version: 3.9.3
Vcs-Git: git://github.com/ucam-cl-dtg/dtg-pom.git
Vcs-Browser: https://github.com/ucam-cl-dtg/dtg-pom
Homepage: https://github.com/ucam-cl-dtg/dtg-pom

Package: libdtgparentpom-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Recommends: ${maven:OptionalDepends}
Description: DTG Parent Pom
 Parent pom for DTG projects specifying sensible defaults

